/* === Variables === */
$lighter-color: rgba(0, 0, 255, 0.514);
$darker-color: rgba(0, 0, 255, 0.678);
$fontSize-headings: 1rem;
$primary-margin: 1rem;
$margin-top: 1rem;
$margin-bottom: 1rem;

/* === Mixins === */
@mixin flex($justify, $align, $flow) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $flow;
}

@mixin links {
    text-decoration: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	height: 6rem;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 1.5rem;

    h1, h2 {
        font-size: $fontSize-headings;
    }
}

.nav_links {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    background-color: $lighter-color;
    @include flex(center, center, row wrap);

        li {
            padding:1rem;
            list-style: none;
            
            a {
                @include links;
            } 
        }
}

main {
    @include flex(center, center, column nowrap);

    .section_text {
        margin: $primary-margin;

        h3 {
            text-align: center;
        }
    }

    .section_images {
        margin: $primary-margin;
        @include flex(center, center, row wrap);

        img {
            height: 12rem;
            width: 18rem;
            margin: 0 0.5rem 1rem 0.5rem
            }
    }
}

.aside {
    @include flex(center, center, column nowrap);
    margin: $primary-margin;

    .first_aside, .second_aside, .third_aside, .fourth_aside {
        border: 0.2rem solid $darker-color;    
        padding: 1rem;
        margin-bottom: $margin-bottom;
        width: 90vw;
    }
}

.footer {
	height: 5rem;
    padding-top: 1rem;
	background-color: $darker-color;

    .footer_links {
        @include flex(center, center, row wrap);
        list-style-type: none;

        li:nth-child(2) {
            margin: 0 1.5rem 0 1.5rem;
        }

        li a {
            @include links;
        }
    }
}


@media screen and (min-width: 600px) {
    .section_text {
        width: 70%;
	}

	.aside {
        @include flex(center, center, row wrap);

        .first_aside, .second_aside, .third_aside, .fourth_aside {
            width: 47vw;
            margin: 0.5rem;
        }
	}
} 
